.summary-body {
  padding: 1.75rem;
}

.summary-body h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-gray-blue);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(227, 227, 227);
  font-weight: 500;
}

.card:first-of-type {
  margin-top: 2rem;
  background: hsla(0, 100%, 67%, 0.1);
  color: var(--light-red);
}

.card:nth-child(3) {
  background: hsla(39, 100%, 56%, 0.1);
  color: var(--orange-yellow);
}

.card:nth-child(4) {
  background: hsla(166, 100%, 37%, 0.1);
  color: var(--green-teal);
}

.card:nth-child(5) {
  background: hsla(234, 85%, 45%, 0.1);
  color: var(--cobalt-blue);
}

.card-name {
  display: flex;
}

.card-name p {
  margin-left: 0.75rem;
  font-weight: 700;
}

.card-score {
  font-weight: 700;
  color: var(--dark-gray-blue);
}

.card-score span {
  color: rgb(157, 156, 169);
}

.continue-btn {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
  background: var(--dark-gray-blue);
  cursor: pointer;
}

.continue-btn:active {
  background: var(--light-royal-blue);
}
