.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45%;
  padding: 2.25rem;
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.result-section h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--light-lavander);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.result p {
  margin-bottom: 8px;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}

.result span {
  font-weight: 500;
  color: hsla(241, 100%, 89%, 0.5);
}

.assessment {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.higher-than {
  text-align: center;
  color: hsla(241, 100%, 89%, 0.8);
}

@media (min-width: 640px) {
  .result-section {
    height: 100%;
    border-radius: 2.25rem;
    width: 45%;
    padding: 3.75rem 2.25rem;
  }
}
